<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-sub-text"> <h3>
        Ezen a Wikipedia-szerű oldalon megtalálható minden hasznos zeneakadémiai jegyzetem az <a href="{{'/temakorok' | relative_url}}"> itt található</a> témakörökben.
        Próbáld ki a <a href="{{'/notes' | relative_url}}">keresést</a>, ha szükséged van rá!
        </h3>

	<div class="container">
  <h1>Hírlevél feliratkozás</h1>
  <form target="_blank" action="https://formsubmit.co/denandras+zakhirlevel@gmail.com" method="POST">
    <div class="form-group">
      <div class="form-row">
        <div class="col">
          <input type="email" name="email" class="form-control" placeholder="Email cím" required>
        </div>
      </div>
    </div>
    <div class="form-group">
    </div>
    <button type="submit" class="btn btn-lg btn-dark btn-block">Mehet!</button>
  </form>
</div>

</div> </div>

